<form {{on "submit" this.createMessage}}>
  <Input @value={{this.message}}/>
  <button type="submit"> Send</button>
</form>

<!--<form action="handler.php">-->
<!--  <p><b>Как, по вашему мнению, расшифровывается аббревиатура &quot;ОС&quot;?</b></p>-->
<!--  <br><p>-->
<!--    <input type="radio" name="answer" value="a1"> Офицерский состав <br>-->
<!--    <input type="radio" name="answer" value="a2"> Операционная система <br>-->
<!--    <input type="radio" name="answer" value="a3"> Большой полосатый мух-->
<!--  </p>-->
<!--  <p><input type="submit"></p>-->
<!--</form>-->